<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <style>
            body {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            code {
              display: block;
              white-space: pre-wrap
            }

        </style>

        <style>
          .CodeMirror { height: auto; width:100%; border: 1px solid #ddd; }
          .CodeMirror-scroll { max-height: 200px; }
          .CodeMirror pre { padding-left: 7px; line-height: 1.25; }
        </style>

        <script src="{{ url_for('static', filename='lib/codemirror.js')}}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror.css') }}">
        <script src="{{url_for('static', filename='mode/javascript/javascript.js')}}"></script>
        <script type="text/javascript">
            function switchTo(s){
                inHeading = document.getElementById('in')
                memHeading = document.getElementById('mem')
                challHeading = document.getElementById('chall')
                elem = document.getElementById('sideContent')
                if(s == "instructions"){
                    inHeading.style.opacity = 1
                    memHeading.style.opacity = 0.1
                    challHeading.style.opacity = 0.1
                    elem.innerHTML = "<div class=\"col-md-3\"> <h5><strong>subleq A B C</strong></h5> </div> <div class=\"col-md-7 col-md-offset-2\"> <p>Subtracts contents at <strong>address A</strong> from contents at <strong>address B</strong>, stores result at <strong>address B</strong>, if result is not positive move program counter to <strong>line C</strong></p><h5>That's right. Only one instruction. And it's Turing complete. Good luck.</h5> </div>"
                }
                if(s == "memory"){
                    inHeading.style.opacity = 0.1
                    memHeading.style.opacity = 1
                    challHeading.style.opacity = 0.1
                    elem.innerHTML = "\
                    <table class=\"table table-whitetext\">\
                      <thead>\
                        <tr>\
                          <th></th>\
                          {% for i in range(0,machine.length) %}\
                            <th>{{'%x' % i}}</th>\
                          {% endfor %}\
                        </tr>\
                      </thead>\
                      <tbody>\
                        {% for row in range(0,machine.height)%}\
                            <tr>\
                              <th scope=\"row\">{{'%x'% row}}</th>\
                              {% for i in range(0,machine.length)%}\
                                <td>{{'%x' % machine.readMem(row + i)}}</td>\
                              {% endfor %}\
                            </tr>\
                        {% endfor %}\
                      </tbody>\
                    </table>\
                    "
                }
                if(s == "challenges"){
                    inHeading.style.opacity = 0.1
                    memHeading.style.opacity = 0.1
                    challHeading.style.opacity = 1
                    elem.innerHTML = "<h3>challenge #{{challenge.id}}</h3><hr><p>{{challenge.text}}</p><hr>"
                }
            }
        </script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

        <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700" rel="stylesheet">

        <script src="{{url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
    </head>
    <body style="overflow: scroll;">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-right">subleq</h1>
                    <h4 class="text-right">a series of puzzles</h4>
                    <h5 class="text-right">written by <a href='http://www.riyasatsaber.com'>riyasat saber</a></h5>
                    <hr><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>editor
                        <button type="button" class="editorButton" style="margin-left:10px">run</button>
                        <button type="button" class="editorButton" style="margin-left:10px">step</button>
                        <button type="button" class="editorButton" style="margin-left:10px">submit</button>
                    </h3>
                    <hr>
                    <textarea id="editor"></textarea>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div id="mem" class="col-md-3" onclick="switchTo('memory')" style="text-align: center; opacity: 0.1"><h3> Memory </h3></div>
                        <div id="in" class="col-md-5" onclick="switchTo('instructions')" style="text-align: center; opacity: 0.1"><h3> Instructions </h3></div>
                        <div id="chall" class="col-md-4" onclick="switchTo('challenges')" style="text-align: center; opacity: 1"><h3> Challange </h3></div>
                    </div>
                    <hr>
                    <div id="sideContent">
                        <h3>challenge #{{challenge.id}}</h3><hr><p>{{challenge.text}}</p><hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 2%;">
            <h4 class='text-center'>List of Challenges</h4>
            <h4 class='text-center'>
                {% for c in challenges %}
                    {% if c.id == challenge.id %}
                        <strong>{{challenge.id}}</strong>
                    {% else %}
                        <a href='/{{c.id}}'>{{c.id}}</a>
                    {% endif %}
                {% endfor %}
            </h4>
        </div>
        <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            lineNumbers: true,
            lineWrapping: true,
            fixedGutter: false

        });
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
    </body>
</html>
